<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .table {
            border-style: double;
            border-color: black;
        }
        #b1 {
            width: 70px;

        }
        #b2 {
            width: 70px;
        }
        a {
            color: #f8f9fa;
            text-decoration: none;
        }
    </style>

</head>

<body>
    <div class="container">
        <table class="table table-bordered mt-5">
            <thead style="text-align: center;">
                <tr>
                    <th>id</th>
                    <th>fname</th>
                    <th>lname</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>image</th>
                    <th>Action</th>
                   
                </tr>
            </thead>
            <% for (var i=0; i < data.length; i++){ %>
                <tr>
                    <td>
                        <%= data[i].id %>
                    </td>
                    <td>
                        <%= data[i].fname %>
                    </td>
                    <td>
                        <%= data[i].lname %>
                    </td>
                    <td>
                        <%= data[i].email %>
                    </td>
                    <td>
                        <%= data[i].phone %>
                    </td>
                  
                    <td>
                        <img width="100px" src="/uploads/<% if(data[i].image == ''){ %>no-image.jpg<% }else{ %><%=data[i].image%><%} %>" class="img-thumbnail" alt="...">
                    </td>
                    <td>
                        <div class="justify-content-center text-center">
                            <a href="/update/<%- data[i].id%>"><button type="button" id="b1"
                                    class="btn btn-success ">Edit</button>
                                <a href="/delete/<%=data[i].id%>"><button type="button" id="b2"
                                        class="btn btn-danger ">Delete</button>
    
                        </div>
                    </td>
                  </tr>
                  <%} %>
                </table>
                 
          
    </div>
    <div class="text-center mt-5">
        <button class="btn btn-primary rounded-pill text-center"><a href="/form">Home</a></button>
    </div>
</body>

</html>

